Checks: '
cppcoreguidelines-*,
performance-*,
modernize-*,
google-*,
misc-*
cert-*,
readability-*,
clang-analyzer-*,
-cppcoreguidelines-avoid-magic-numbers,
-readability-magic-numbers,
-readability-identifier-length,
-performance-avoid-endl,
'

CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: 50      
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: none
